.container
			{
		    margin: auto;
		    width: 600px;
		    min-width:500px;
		    min-height:800px;
		    top: 0;
		    bottom: 0;
		    right: 0;
		    left: 0;
		    padding:30px;
		    text-align:center;
		    border-style: none;
		    border-width: small;
		    background-color: #563A8C;
		    color:#451989;
			}
			
			.inner_container
			{
		    margin: auto;
		    width: 500px;
		    min-width:400px;
		    min-height:750px;
		    top: 0;
		    bottom: 0;
		    right: 0;
		    left: 0;
		    padding:30px;
		    border-style: none;
		    border-width: small;
		    background-color: #f1f0ee;
		    text-align:justify;
		    color:#451989;
		    font: 17px arial,sans-serif; 
			}

            p
            {
            	display:inline;
            }
            
            h1
            {
            	text-align:center;
            }
            
            label
            {
            	float:left;
            }
            
            input, select
            {
            	width:200px;
            	display:inline;
            	float:right;
            }
