/**
 * @author Baldor Oloruntoba
 */
body
{
	font-size: 80%;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
.wrapper
{
	margin: auto;
	width: 950px;
	height: inherit;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding:30px;
	border-style: none;
	border-width: small;
	background-color: #563A8C;
	color:#451989;
}
.inner-wrapper
{
	width: 750px;
	margin: auto;
}
.container
{
	overflow: hidden;
	margin: 0 0 10px 0;
}
.left
{
	float: left;
	text-align: right;
	margin: 0 150px 0 0;
}
.middle
{
	float: left;
	margin: 0 100px 0 0;
}
.right
{
	float: left;
}
.identity
{
	color: #dedbde;
	font-size: 1.5em;
	font-weight: bold;
	float: left;
	margin: 2% 0 0 0;
	padding: 0 0 1em 0;
}
.identity a
{
	color: #dedbde;
	text-decoration: none;
}
.clear
{
	clear: both;
}
ul#tabs
{
	list-style-type: none;
	margin: 10px 0 0 0;
	padding: 0 0 1em 0;
	text-align: right;
}
ul#tabs li
{
	display: inline;
}
ul#tabs li a
{
	color: #563A8C;
	background-color: #dedbde;
	border: 1px solid #c9c3ba;
	border-bottom: none;
	padding: 0.8em;
	text-decoration: none;
	font-size: 1.3em;
}
ul#tabs li a:hover
{
	background-color: #f1f0ee;
}
ul#tabs li a.selected
{
	color: #563A8C;
	background-color: #f1f0ee;
	font-weight: bold;
	padding: 0.8em;
}
div.tabContent
{
	border: 1px solid #c9c3ba;
	padding: 0.5em;
	background-color: #f1f0ee;
}
#section
{
	font-size: 1.17em;
	font-weight: bold;
	display: block;
}
textarea
{ 
    resize: none; 
}
.modalContainer
{
	margin: auto;
	width: 700px;
	height: inherit;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding:30px;
	border-style: none;
	background-color: #f1f0ee;
	border-width: small;
}